{
    "web": {
        "realm": "",
        "issuer": "",
        "auth_uri": "",
        "client_id": "",
        "client_secret": "",
        "userinfo_uri": "",
        "token_uri": "",
        "token_introspection_uri": ""
    },
    "postgres": {
        "database_uri": ""
    }
}